/********************************************************************
	ZYPOP - HTTPS://ZYPOPWEBTEMPLATES.COM
	FREE WEB TEMPLATES
********************************************************************/


/**
This file contains the core CSS for this template, built on the Bootstrap framework 
Set the variable values in _variables.scss 
**/


/** 
Page structure and elements 
**/
.bg-primary {
    background-color: $primary !important;
}


body, main {
    background-color: $white;
}

main {
	padding: 2rem 0;
}
.text-primary {
    color: $primary !important;
}

a, .page-link {
    color: $secondary;
    font-weight: bold;
    &:hover,
    &:focus,
    &:active {
        color: darken($secondary, 0%);
    }
}

fieldset { 
    margin-bottom: $spacer; 
    display: block;
    border-top: 1px solid lighten($primary, 15%);
}
fieldset legend { 
    width: auto;
    padding-right: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

table th { 
    background-color: $secondary;
    color: darken($secondary, 20%);
	border-color:darken($secondary, 15%) !important;
	border-bottom: 1px solid darken($secondary, 15%);
}

blockquote {
    display: block;
    border-left: 5px solid lighten($primary, 20%);
    padding: 0.5rem;
	color: $body-color;
    margin-bottom: $spacer;

}
pre code {
    color: $code-color;
}
.btn { 
    font-weight: bold;
}
.btn-secondary {
    color: darken($secondary, 20%);
    &:hover,
    &:focus,
    &:active {
	   background-color: darken($secondary, 20%);
        border-color: darken($secondary, 20%);
        color: $white;
    }
}
 .badge-secondary {
    color: darken($secondary, 20%);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
    color: $secondary;
    font-weight: bold;
}

/**
Jumbotron / Slider
**/
.jumbotron-narrow { 
    padding: $jumbotron-padding;
}
.jumbotron-wrap {
    background-color: lighten($primary, 5%);
    background: -moz-linear-gradient(top, lighten($primary, 5%) 0%, $primary 100%); 
    background: -webkit-linear-gradient(top, lighten($primary, 5%) 0%, $primary 100%);
    background: linear-gradient(to bottom, lighten($primary, 5%) 0%, $primary 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($primary, 5%)', endColorstr='$primary',GradientType=0 );   
    border-bottom: 25px solid $secondary;
    margin-bottom: 1rem;
}
.jumbotron-wrap .jumbotron { 
        background: transparent;
        margin-bottom: 0; 
}
.jumbotron-wrap .jumbotron .btn-primary {
    background-color: $gray-100;
    border-color: $gray-100;
    color: $black;
}
.jumbotron-wrap .jumbotron .btn-outline-primary {
    color: $gray-100;
    border-color: $gray-100;
    &:hover,
    &:focus,
    &:active {
        background-color: $gray-100;
        color: $black;
    }
}
.jumbotron-wrap h1, .jumbotron-wrap .h1 {
    color: $gray-200;
    text-shadow: $header-text-shadow;
}

/**
Header 
**/
.header-wrap { 
    background-color: $white;
    padding: 1rem 0;
    color: $secondary;
}
header h1 {
	color: $secondary;
	font-size: 3.5rem;
	line-height: 1.4rem;
    text-shadow: $header-text-shadow;
	letter-spacing: -0.2rem;
    text-transform: uppercase;
}
header h1 span {
    color: $white;
}

.header-social-icons, header h1 { 
    margin-bottom: 0;
    color: $secondary;
}

.header-social-icons { 
    padding: 2rem 0;
}
.header-social-icons a {
    color: $secondary;
    &:hover,
    &:focus,
    &:active {
        color: lighten($primary, 60%);
    }
}
.header-search-form .form-control, .header-search-form .btn {
    padding: 0.2rem 0.4rem;
}



/** 
Navbar 
**/
.navbar-toggler {
	margin: 0.2rem;
}
.navbar {
	padding: 0 1rem;
    box-shadow: $navbar-box-shadow;
    background-color: $secondary !important;
    
}
.navbar-dark .navbar-brand {
  	color: $white;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active {
        color: $white;
    }
}
.navbar-dark .navbar-brand span {
    color: $white;
}
.navbar.no-slider {
    margin-bottom: 1rem;
}
.navbar .active .nav-link {
	background-color: $secondary;
    color: $white;
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    color: darken($secondary, 20%);
    //color: $white;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-nav .dropdown-item
 {
     color: $white;
     font-weight: bold;
     padding: 0.5rem 0.5rem !important;
     font-size: 1.0rem;
     text-transform: uppercase;
     &:hover,
     &:focus,
     &:active {
        background-color: darken($secondary, 5%);
        color: $white;
    }
}
.navbar-nav .dropdown-item {
     color: $white !important;
}
.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item:active,
.navbar-nav .dropdown-item.active {
	background-color: darken($secondary, 10%);
    color: $white !important;
}

.dropdown-menu {
    border: none;
    margin:0;
    padding: 0;
    background-color: darken($secondary,5%) !important;
    color: $white;
}

.dropdown-divider {
	border-color: $black;
}


/**
Footer
**/
footer { 
	background-color: darken($primary, 20%);
    color: lighten($primary, 40%);
	font-size: 0.9rem;

}

/* ak by som chcela rovnaku patu vo vsetkych layoutoch
.footer h4 {
    color: lighten($primary, 40%);
}
*/

.footer-lists {
	background-color: $primary;
	padding: 2rem;
	margin-bottom: 1rem;
}

.footer-bottom {
    color: lighten($primary, 20%);
}

.footer-bottom  a {
    color: lighten($primary, 30%);
    &:hover,
    &:focus,
    &:active {
        color: lighten($primary, 40%);
    }
}
.social-icons  a {
    margin-right: 15px;
}
.social-icons  a:hover {
    color: $secondary;
}
.footer-lists ul {
    list-style: none;
	margin: 0;
	padding: 0;
}
.footer-lists ul li {
	padding: 0.1rem 0;
}
footer p {
	margin: 0;
	padding-bottom: 1rem;
}

footer  a {
    color: lighten($primary, 40%);
    font-weight: normal;
    &:hover,
    &:focus,
    &:active {
        color: lighten($primary, 60%);
    }
}


/** 
Articles
**/
article {
	margin-bottom: 2rem;
	border-bottom: 1px solid darken($secondary, 20%);
	padding-bottom: 2rem;
	font-size: 1.2rem;
}

article h2.article-title {
	font-size: 2.5rem;
	margin-bottom: 0;
	letter-spacing: -1px;
}

article p.article-meta {
	color: darken($body-color, 20%);
	font-size: 1rem;
}


/**
Sidebar
**/
.sidebar-box {
	margin-bottom: 2rem; 
}
.sidebar-box-bg {
	padding: 1rem;
	background-color: $content-bg-color;
	border-radius: $border-radius;
    color: lighten($body-color, 2%);
}


/**
Card deck
**/

.card-deck {
  padding: 2rem 0;
}

.card {
  border-radius: 5px;
  border: 1px solid $secondary;
}

.card-header {
  background-color: $secondary;
  color: $white;
}

.card-header h3, h4 {
  color: white;
  margin: 0;
}

.card-link {
  color: white;
  &:hover,
  &:focus,
  &:active {
    color: white;
  }
}

.card-body {
  background-color: $white;
  padding: 1rem;
}

.card-body h5 {
  margin: 0;
}

.cardz {
  background-color: $secondary-light;
  border-color: $secondary-light;
}

.cardo {
  background-color: lighten(#f09d0f, 20%);
  border-color: lighten(#f09d0f, 20%);
}

.card, .card h1, h2, h3 {
  color: $primary;
}


/***
Better nesting of list groups
***/
.list-group-item {
  //border: none !important;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($content-bg-color, 10%);
  }
}

.list-group-item.active {
  background-color: $secondary;
  &:hover,
  &:focus,
  &:active {
    background-color: $secondary;
  }
}

.list-group .list-group .list-group-item {
  padding-left: $list-group-item-padding-x * 2;
}

.list-group .list-group .list-group .list-group-item {
  padding-left: $list-group-item-padding-x * 3;
}

.list-group .list-group .list-group .list-group .list-group-item {
  padding-left: $list-group-item-padding-x * 4;
}

.list-group > .list-group .list-group-item:first-child,
.list-group > .list-group .list-group-item:last-child {
  border-radius: 0 !important;
}
.list-group > .list-group .list-group-item:last-child {
  border-bottom: none !important;
}
.list-group-item:first-child {
  border-radius: 0;
}

.list-group-root {
  background-color: $content-bg-color;
  padding: 0rem;
  border-radius: $border-radius;
}
.list-group-item {
  background-color: $content-bg-color;

}

.list-group-item.active {
  border-radius: $border-radius;
  color: darken($secondary, 20%);
}


/***
list groups in card-body
***/

.cardbody .list-group {

}

.card-body .list-group-item {
    border-bottom: 1px solid $secondary;
    background-color: $white;
    padding: 0.5rem 1rem;
    margin: 0;
    /*&:hover,
    &:focus,
    &:active {
        background-color: lighten($secondary, 30%); //darken($content-bg-color, 10%);
    }*/
}

.card-body .list-group-item.active {
    background-color: $secondary;
    /*&:hover,
    &:focus,
    &:active {
        background-color: $secondary;
    }*/
}


.btn-trash {
  background-color: $white;
  border-color: $white;
  color: $danger;
  /*&:hover,
  &:active {
    color: $danger;
    font-weight: bold;
  }*/
}

/**
Responsive typography
https://v4-alpha.getbootstrap.com/content/typography/#responsive-typography
**/
html {
    font-size: 16px;
}
@include media-breakpoint-up(xs) {
  html {
    font-size: 12px;
  }
}
@include media-breakpoint-up(md) {
    html {
        font-size: 13px;
    }
    
}
@include media-breakpoint-up(lg) {
    html {
        font-size: 16px;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-nav .dropdown-item
     {
         color: $secondary;
         font-weight: bold;
         padding: 0.7rem 2rem !important;
    }
}